@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Roboto:ital@1&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color-primary: #101727;
	--color-secondary: #474950;
	--bg-color: #ffffff;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins', sans-serif;
}

main {
	background-color: var(--bg-color);
	width: 400px;
}

p {
	margin-bottom: 1rem;
	color: var(--color-primary);
	font-size: 18px;
	font-weight: 600;
}

label,
span {
	display: block;
	margin-bottom: 5px;
}

label {
	font-weight: 600;
	color: var(--color-secondary);
	font-size: 16px;
}
span {
	color: red;
	font-size: 14px;
}

input,
.google-signin a {
	height: 45px;
	width: 400px;
	border-radius: 7px;
	border: 2px solid #cad1d6;
	font-size: 16px;
	padding: 0 10px;
	box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px;
}

input:active,
input:focus {
	outline: none;
	border: 2px solid rgba(27, 31, 35, 1);
	box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px;
}

input[type='submit'] {
	background-color: var(--color-primary);
	color: #f5f3f3;
	font-weight: 500;
	font-size: 18px;
	margin: 1rem 0;
	border: none;
}

.google-signin a {
	display: block;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-secondary);
	font-weight: 600;
	margin-bottom: 1.5rem;
}

.signup {
	font-size: 14px;
	text-align: center;
}

.signup p {
	color: var(--color-secondary);
	font-size: 14px;
}

.signup a {
	text-decoration: none;
	color: rgb(19, 19, 185);
	font-weight: 600;
	font-size: 16px;
}

.google {
	margin-right: 10px;
	font-size: 1.4rem;
}

.error {
	border: 2px solid red;
}
.error:focus {
	border: 2px solid red;
}
